/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

.bfc-brand-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    line-height: 1.2;
    color: #05518a;

}

.font-roboto {
    font-family: 'Roboto', sans-serif;
    color: #05518a;

}

.bfc-live {
 background: #103154;
 /*width: 100%;*/
 min-height: 100vh;
 box-shadow: 0 4px 0px #333;
 margin: 0;
 padding: 0;
 border-radius: 15px;

}

/*.header .stats,
.header .stopwatch {
 width: 170px;
}*/

.fixture {
 display: flex;
 }

.fixture-teams {
  flex-grow: 1;
}

.fixture-bfc {
 display: flex;
 color: #00b2ee;
 font-family: 'Roboto', sans-serif;
 font-weight: normal;
 /*border-bottom: solid 2px #324c60;*/
 letter-spacing: 0.8px;
}

.team-bfc {
  width: 100%;
  padding: 20px 5px 10px 10px;
  font-size: 1em;
  color: #00b2ee;
  /*text-transform: uppercase;*/
}

.score-bfc {
  width: 50px;
  font-size: 2.5em;
  padding: 5px 5px 0 0;
  text-align: right;
  font-family: Helvetica, sans-serif;
}

.fixture-opp {
  display: flex;
  color: #00b2ee;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  /*border-bottom: solid 2px #324c60;*/
  letter-spacing: 1.1px;
}

.team-opp {
  flex-grow: 1;
  padding: 20px 10px 10px 5px;
  font-size: 1em;
  text-align: right;
  color: #00b2ee;
  /*text-transform: uppercase;*/
}

.score-opp {
  width: 50px;
  font-size: 2.5em;
  padding: 5px 0 0 5px ;
  text-align: left;
  font-family: Helvetica, sans-serif;
}

.vs-fixture {
  margin-top: 22px;
  color: #00b2ee;
  font-family: Arial, sans-serif;
  /*font-size: 1.5em;*/
}
.counter {
  display: flex;
}

.score-action-bfc {
  width: 100%;
  border: none;
  font-weight: bold;
  color: #FAFAFA;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.score-action-bfc.increment {
  background: #66BB6A;
}

.score-action-bfc.increment:hover {
  background: #549d59;
  cursor: pointer;
}

.score-action-opp {
  width: 100%;
  border: none;
  font-weight: bold;
  color: #FAFAFA;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.score-action-opp.increment {
  background: #324c60;
}

.score-action-opp.increment:hover {
  background: #324c60;
  cursor: pointer;
}


.score-action.decrement {
  background: #ef5350;
}

.score-action.decrement:hover {
  background: #c44442;
  cursor: pointer;
}

.counter-score {
  flex-grow: 1;
  background: #2b2b2b;
  color: #FAFAFA;
  text-align: center;
  font-family: monospace;
  padding: 10px;
  font-size: 2em;
}



.stopwatch {
 padding: 15px 10px 25px 10px;
 background: #181e32;
 border-radius: 0 0 0 0;
 text-align: center;
}

 .stopwatch-time {
   font-family: Menlo;
   font-size: 4em;
   color: #324c60;
 }

 .stopwatch button {
   margin: 8px 5px;
   border-radius: 5px;
   padding: 7px 8px;
   border: none;
   letter-spacing: 2px;
   font-size: 1em;
   font-weight: normal;
   text-shadow: none;
   text-transform: uppercase;
 }

 /*.stopwatch button:hover {
   background: #324c60;
   color: #fff;
   cursor: pointer;
 }*/

 .stopwatch h2 {
   font-size: .6em;
   margin: 0;
   font-weight: normal;
   letter-spacing: 2px;
   color: #666;
 }


.start-stop {
  background-color: #324c60;
  color: #fff;
}

.fwd-bwd {
  background-color: #103154;
  color: #324c60;
}

.highlights-container {
  padding: 0;
}

.highlights-intro {
 padding: 5px 10px;
 margin-top: -15px;
 text-align: center;
 display: flex;
 align-items: center;
 background-color: #103154;
 border-radius: 15px 15px 0 0;
 border-bottom: solid 2px #103154;
}

.highlights-intro h1 {
 flex-grow: 1;
 padding: 0 0;
 font-size: 1.5em;
 color: #324c60;
 letter-spacing: 3px;
 font-weight: bold;
 /*text-transform: uppercase;*/
 /*font-family: 'Roboto', sans-serif;*/
}

.highlights {
  padding: 0 0 10px 0;
}

.highlight {
  display: flex;
  background: #181e32;
  color: #324c60;
  border-bottom: solid 1px #324c60;
}

.timestamp {
  /*width: 50px;*/
  flex-grow: 1;
  padding: 10px 10px 10px 10px;
  text-align: right;
  font-size: 1.2em;
  border-right: 1px solid #324c60;
}

.highlight-event {
  flex-grow: 16;
  padding: 10px 10px 10px 10px;
  font-size: 1.2em;
}

.timestamp-opp {
  /*width: 50px;*/
  flex-grow: 1;
  padding: 10px 10px 10px 10px;
  text-align: left;
  font-size: 1.2em;
  border-left: 1px solid #324c60;
}

.highlight-event-opp {
  flex-grow: 16;
  padding: 10px 10px 10px 10px;
  font-size: 1.2em;
  text-align: right;
}

.timer-event {
  flex-grow: 16;
  padding: 10px 10px 10px 10px;
  font-size: 1em;
  text-align: center;
}

.game-ended {
  border: solid 1px #324c60;
  max-width: 50%;
  margin: 0 auto;
  color: orange;

}


/*

 .remove-player {
   visibility: hidden;
   margin-right: 10px;
   color: #e57373;
   cursor: pointer;
 }

 .player-name:hover .remove-player {
   visibility: visible;
 }

*/

/*
.add-player-form form {
 display: flex;
 background-color: #222;
 border-radius: 0 0 20px 20px
}

 .add-player-form input[type=text] {
   flex-grow: 1;
   border-width: 0 0 1px 0;
   margin: 15px 10px 15px 15px;
   padding: 10px;
   border-radius: 5px;
   background-color: #333;
   border-style: none;
   text-shadow: none;
   text-transform: uppercase;
   color: #999;
   letter-spacing: 2px;
   outline: none;
 }

 .add-player-form input[type=text]::-webkit-input-placeholder{
   color: #666;
   letter-spacing: 2px;
 }

 .add-player-form input[type=text]:focus{
   background-color: #444;
 }

 .add-player-form input[type=submit] {
   display: block;
   font-size: .6em;
   margin: 15px 15px 15px 0;
   padding: 10px;
   background-color: #333;
   border-radius: 5px;
   border: none;
   color: #999;
   letter-spacing: 2px;
   font-weight: bold;
   text-shadow: none;
   text-transform: uppercase;
 }

 .add-player-form input[type=submit]:hover{
   background: #4b71b5;
   color: #fafafa;
   cursor: pointer;
 }

 .stats {
  margin-top: 0;
  font-weight: normal;
 }

  .stats td:first-child {
    text-align: right;
    font-weight: normal;
    letter-spacing: 2px;
    color: #666;
    font-size: .7em;
  }

  .stats td:last-child {
    text-align: left;
  }*/
